@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
.h1{
    font-size: 36px;
}
li{
    list-style-type: none;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
a{
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}
i:hover{
    opacity: 0.7;
}
.flex{
    display: flex;
}
.flex-1{
    flex:1;
}
.container{
    padding: 50px 0;
    
}
.link-hover-effect:after {
    content:"";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    text-decoration: none;
    right:0;
    transition: all 300ms ease;

}
.link-hover-effect-white:after{
    background-color: white;
}
.link-hover-effect-black:after{
    background-color: black;
}
.link-hover-effect:hover:after{
    width:100%;
    left:0;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 32px;
}
.text-purple{
    color: #6030b1;
}
section:nth-child(even){
    background-color: #f8f8f8;
}
.section-title{
    margin-bottom: 20px;
}
/*

Navigation Bar

*/
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.nav-link-list{
    display: flex;
}
.nav-link-anchor{
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}
.nav-link-anchor-primary{
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav-link-anchor-primary:hover{
    background-color: #5d3eff;
}
.personal-logo{
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}
/*

About Me

*/

#about-me{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}
.about-me{
    display: flex;
    flex-direction: column;
}
.about-me-info-para {
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 600ms backwards;
}
.about-me-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.about-me-picture-mask{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    margin-bottom: 28px;
    animation: animate-profile-pic 800ms 200ms backwards;

}
/* Below is how you add animations */

@keyframes animate-profile-pic{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me-picture{
    width:100%;

    /* Improving the picture */
    transform: scale(1.5);
    padding-top: 8px;
}


.about-me-info-title{
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards; 
}
.about-me-links{
    display: flex;
    
}
.about-me-link{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding:12px 16px;
    animation: fade-up 650ms 800ms backwards;
}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.about-me-img-container{
    display: flex;
    align-items: center;
    flex: 1; /* makes it entire height of the page */
}
.about-me-img{
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.wave{
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;

}

@keyframes animate-wave {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0);
    }
}

/*

Tech Stack

*/
.language-img{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language:hover .language-img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}
.language{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}
.language-img-wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
    
}
.language-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.language-name{
    position: absolute;
    bottom:0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}
.language:hover .language-name{
    transform: scale(1);
    opacity: 1;
}
/*

Projects

*/
.project{
    margin-bottom: 135px;
}
.project:last-child{
    margin-bottom: 40px;
}
.project-img{
    width: 100%;
    transition: all 500ms ease;
}
.project-wrapper{
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
}
.project-wrapper:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #1c1d25; 
    opacity: 0;  
    transition: all 450ms ease; 
    z-index: 2;
}
.project:hover .project-wrapper:before{
    opacity: 0.7;

}
.project:hover .project-img{
    transform: scale(1.07);
    filter: blur(5px);
}
.project-list{
    padding-top: 40px;
}
.project-description{
    position: absolute;
    top:50%;
    left:90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index:3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}
.project:hover .project-description{
    opacity: 1;
    transform: translateY(-50%);
}
.project-description-title{
    font-size: 40px;
}
.project-description-para{
    margin: 16px 0;
}
.project-description-link{
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;

}
.project-description-title,
.project-description-sub-title,
.project-description-para,
.project-description-link{
    text-align: left;
    color: #fff;
}
/*

Footer

*/
footer{
    background-color: #242424;
}

.footer-row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-logo-img{
    height: 150px;
    width: 150px;
}
.footer-social-link,
.footer-copyright{
    color: #fff;
}
.footer-logo{
    
}
.footer-social-list{
    margin-bottom: 28px;
    width:100%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}
.footer-logo-popper{
    color: white;
    position: absolute;
    right:0;
    top:30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}
.footer-anchor{
    position: relative;
    margin-bottom: 20px;
}
.footer-anchor:hover .footer-logo-popper{
    transform: translateX(60px);
    opacity: 1;
}

/* Small Phones, tablets, large smartphones */

@media (max-width:768px){
    nav{
        height: 68px
    }
    h1{
        font-size: 28px;
    }
    .about-me-info-para{
        font-size: 18px;
    }
    .language{
        width: calc(100%/2);
    }
    .project-description-para{
        font-size: 14px;
    }
    .project-description{
        padding-right: 30px;
        left : 30px;
    }

}

/* Small Phones */

@media (max-width:480px){
    .nav-link:not(:last-child){
        display: none;

    }
    .project-description{
        padding: 0;
        left:0;
        width: 100%;
    }
    .project-description-para{
        display: none;
    }
    .project-description-links{
        display: flex;
        justify-content: center;
    }
    .project-description-sub-title{
        text-align: center;
        margin: 12px 0;
        font-size: 14px;
    }
    .project-description-title{
        line-height: 1;
        font-size: 32px;
        text-align: center;

    }

}